@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-03-30 09:32:45
 * @version $Id$
 */


body {
    background-color: ; 
}

#tbl {
    font-size: 30px;
    font-weight: bold;
}